POSTGRES_SUPERUSER_PASSWORD=cargoexec_local_superuser
CARGOEXEC_OWNER_PASSWORD=cargoexec_local_owner
CARGOEXEC_APP_PASSWORD=cargoexec_local_app
CARGOEXEC_AI_PASSWORD=cargoexec_local_ai
PGHOST=localhost
PGPORT=5432
DATABASE_URL_OWNER=postgres://cargoexec_owner:cargoexec_local_owner@localhost:5432/cargoexec
DATABASE_URL_APP=postgres://cargoexec_app:cargoexec_local_app@localhost:5432/cargoexec
DATABASE_URL_AI=postgres://cargoexec_ai:cargoexec_local_ai@localhost:5432/cargoexec
DATABASE_URL_SUPERUSER=postgres://postgres:cargoexec_local_superuser@localhost:5432/postgres
AI_PROVIDER_URL=
AI_API_KEY=
AI_MODEL_ID=
PROMPT_VERSION=
